<h1 class="list-header">Watchlist</h1>
<h3 class="page-descriptor">Keep track of movies that you'd like to watch</h3>

<div class="list-container">
    <% watchlists.forEach(watchlist => { %>
        <div>
            <a href="/watchlist/movie/<%= watchlist.imdbID %>"><h3><%= watchlist.title %></h3></a>
            <p><% watchlist.comment %></p>
        </div>
    <% }) %>
</div>

<div class="form-container form-align-with-list">
    <p>Search for a title to add to your Watchlist</p>
    <form class="align-with-list" action="/watchlist/results" method="GET">
        <input type="text" name="search" />  
        <input type="submit" />
    </form>
</div>