<nav>
    <a class="site-title" href="/">Flick Picks</a>
    <a href="/watchlist">Watchlist</a>
    <a href="/movielog">Movielog</a>
    <a href="/users/logout">Logout</a>
    <p class="greeter">Greetings, <%= user.username %></p>
</nav>