<h1 class="list-header">Your Movielog</h1>

<div class="list-container">
    <% movielogs.forEach(movielog => { %>
        <div>
            <a href="/movielog/movie/<%= movielog.imdbID %>"><h3><%= movielog.title %></h3></a>
            <p><% movielog.rating %></p>
        </div>
    <% }) %>
</div>

<div class="form-container form-align-with-list">
    <p>Search for a title to add to your Movielog</p>
    <form class="align-with-list" action="/movielog/results" method="GET" target="_blank">
        <input type="text" name="search" />  
        <input type="submit" />
    </form>
</div>