<div id="search-page">
    <h1>Search results</h1>
    <div id="results-container">
        <% movies.forEach(movie => { %>
                <div id="result">
                    <a href="/movielog/show/<%= movie.imdbID %>">
                        <h3><%= movie.Title %></h3>
                        <img src="<%= movie.Poster %>">
                    </a>
                </div>
        <% }) %>
    </div>  
</div>