
<div id="about-holder">
    <h1>About Flick Picks</h1>
    <p>Use the <a href=/watchlist>Watchlist</a> to keep track of movies you'd like to see and the <a href=/movielog>Movielog</a> to keep track of what you've seen.</p>
</div>
