/*** Site-Wide ***/
body {
    background-color: #F1EDE4;
    margin: 0;
}

h1, h2, h3, h4, p, a {
    margin: 20px;
}

h1, h2, h3 {
    color: #5A6FA8;
}

h4, p {
    color: darkslategrey;
}

.form-container {
    margin-top: 50px;
    margin-bottom: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #5A6FA8;
}

/*** Nav ***/
nav {
    padding-top: 30px;
    padding-left: 10px;
}

nav a {
    color: #64AE57;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

nav a:hover {
    color: orangered;
}

.site-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    color: #5A6FA8;
    font-weight: bold;
}

.greeter {
    color: #64AE57;
    padding-top: 5px!important;
    font-family: Arial, Helvetica, sans-serif;
}


/*** Lists ***/
.list-header {
    text-align: center;
}

.page-descriptor {
    text-align: center;
}

.list-container {
    margin-top: 50px;
    text-align: center;
}

.list-container a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.list-container h3 {
    color: #64AE57;
}

.list-container h3:hover {
    color: orangered;
}


.title-align-with-list {
    padding-left: 80px;
}

.form-align-with-list {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*** Search Results ***/
#search-page {
    text-align: center;
}

#results-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#result {
    height: 560px;
}

#result a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#result h3 {
    color: #64AE57;
}

#result h3:hover {
    color: orangered;
}

/*** Details Page ***/
.details-header {
    text-align: center;
}

.details-container {
    margin-top: 10px;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
}

.text-details {
    margin-left: 5%;
}

.button-holder {
    margin-left: 20px;
    margin-top: 20px;
    text-align: left;
}

.update-holder {
    margin-top: 30px;
    text-align: left;
}

.save-movie-button {
    margin-left: 20px;
}

/*** About Page ***/
#about-holder {
    margin-left: 100px;
    margin-top: 100px;
}

#about-holder p {
    font-family: Arial, Helvetica, sans-serif;
}

#about-holder a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #64AE57;
}

#about-holder a:hover {
    color: orangered;
}

/*** Login Page ***/
#login-holder {
    text-align: center;
    margin-top: 150px;
}

/*** Login Page ***/
#signup-holder {
    text-align: center;
    margin-top: 150px;
}