<div id="signup-holder">
    <h1>New User</h1>

    <form method="POST" action="/users">
        <label for="username-input">Username</label>
        <input type="text" name="username">

        <label for="password-input">Password</label>
        <input type="password" name="password">

        <input type="submit">
    </form>
</div>